<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>A@HOT-Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa keskustelemaan AHOT-foorumillamme!</h1>
        
        <p>* TÄMÄ EI OLE LOPULLINEN USER INTERFACE *</p>
        <p>Alla kovakoodattuja linkkejä testausta varten.</p>
        <p> Päämenuun: http://0.0.0.0:4567/</p>
        
        <p><a href="/keskustelualue/1">Hae keskustelualue 1.</a></p>
        <p><a href="/keskustelualue/2">Hae keskustelualue 2.</a></p>
        
        <p><a href="/keskustelut">Listaa keskustelut.</a></p>
        <p><a href="/keskustelu/1">Hae keskustelun 1 otsikkotiedot.</a></p>
        <p><a href="/keskustelu/2">Hae keskustelun 2 otsikkotiedot.</a></p>
        <p><a href="/keskustelu/3">Hae keskustelun 3 otsikkotiedot.</a></p>
          
    </body>
</html>