<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>A@HOT-Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa keskustelemaan A@HOT-foorumillamme kuumimmistakin aiheista!</h1>
        <p><a href="/keskustelualueet">Listaa keskustelualueet.</a></p>
        <p><a href="/keskustelut">Listaa keskustelut.</a></p>
        <p><a href="/keskustelu">Näytä keskustelun otsikkotiedot.</a></p>
        <p><a href="/viestit">Listaa keskustelun viestit.</a></p>
        <p><a href="/lahetaViesti">Osallistu keskusteluun.</a></p>
        <p><a href="/luoKeskustelu">Luo uusi keskustelu.</a></p>
    </body>
</html>