<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelu</title>
        <meta charset="utf-8" />
    </head>

    <body>     
        <h1><span th:text="${otsikko}"></span></h1>
        <p>Olet nyt keskustelussa: <span th:text="${otsikko}">Keskustelu</span></p>
        <p>Takaisin <a href="../index">aluelistaukseen</a></p>
        
        <ol>
             <li th:each="viesti: ${viestit}">
                 <p th:text="${viesti.kirjoittaja}"></p>
                 <p th:text="${viesti.sisalto}"></p>
            </li>
        </ol>
        
        <form method="POST" action="">
            Nimimerkki:<br/>
            <input type="text" name="kirjoittaja"/><br/>
            Viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="submit" value="Lähetä!"/>            
        </form>
    </body>
</html>
