<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${otsikko}">Keskustelu</title>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1 th:text="'Keskustelu: ' + ${otsikko}">Otsikko</h1>
                <p>Takaisin keskustelualueelle <a href="" th:href="@{~/{alue}/(alue=${alue})}" th:text="${alue}">Alue</a></p>
            </div>

            <div class="row" th:each="viesti: ${viestit}">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"><p><strong th:text="${viesti.kirjoittaja}">Kirjoittaja</strong> sanoi <em th:text="${#dates.format(viesti.lahetysaika, 'yyyy-MM-dd hh:mm:ss')}">ajanhetki</em>:</p></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"><p class="well" th:text="${viesti.sisalto}">Viesti</p></div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 bg-info">
                    <h3>Lähetä uusi viesti:</h3>
                    <form method="POST" action="">
                        <div class="form-group">
                            <label for="kirjoittaja">Nimimerkki:</label>
                            <input type="text" name="kirjoittaja" id="kirjoittaja" class="form-control" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="viesti">Viesti:</label>
                            <textarea name="viesti" id="viesti" class="form-control" rows="4" required="required" />
                        </div>
                        <button type="submit" class="btn btn-default">Lähetä!</button>
                        <p></p>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
            
            <div class="row"><p></p></div>
        </div>
    </body>
</html>
