<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelualue</title>
        <meta charset="utf-8" />
    </head>

    <body>     
        <h1><span th:text="${alue}"></span></h1>
        <p>Olet nyt keskustelualueella: <span th:text="${alue}"></span></p>
        <p>Takaisin <a href="../index">aluelistaukseen</a></p>
        
        <ol>
            <li th:each="keskustelu: ${keskustelut}">
                <a href="error.html" th:text="${keskustelu.otsikko}" th:href="@{~/{nimi}/{id}(nimi=${alue},id=${keskustelu.id})}">Keskustelu</a>
                <p>Keskustelualueen viestien lukumäärä: <span th:text="${keskustelu.viestimaara}">XX</span></p>
            </li>
        </ol>
        
        <h3>Voit aloittaa uuden keskustelun tästä: </h3>
        <form method="POST" action="">
            Nimimerkki:<br/>
            <input type="text" name="kirjoittaja"/><br/>
            Keskustelun otsikko:<br/>
            <input type="text" name="keskustelu"/><br/> 
            <input type="submit" value="Lähetä!"/> 
        </form>

        <p>Takaisin <a href="../index">aluelistaukseen</a></p>
    </body>
</html>
