<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelualueet</title>
        <meta charset="utf-8" />
    </head>

    <body>
                <h1>Keskustelualueet</h1>

        <ol>
            <li th:each="keskustelualueet: ${keskustelualueet}">
                <p><span th:text="${keskustelualue.nimi}"></span> <a th:href="${'/keskustelut/' + keskustelu.id}">linkki</a></p>
            </li>
        </ol>
     </body>
</html>